*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FBFADA;
}
/* Cabeçalho  */
header{
    display: flex;
    justify-content: space-between;
}
header .logo {
    display: flex;
    font-weight: 600;
    color: #436850;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;

}

header .est-front{
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
}

.header , p, ul{
    padding-right:  20px;
    padding-top: 25px;
}
a{
    text-decoration: none;
}
nav.menu ul {
    display: flex;
}
nav.menu li {
    cursor: pointer;
    border-right: 2px solid #12372A;
    padding: 0 1rem;
}
nav li{
    list-style-type: none;
}
nav.menu li:last-child{
    border: none;
}

/* Menu mobile */

.list-abrir-menu{
    color: #436850;
    padding-top: 25px;
    cursor: pointer;

}

.menu-mobile{
    background-color: #12372A;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
}
.menu-mobile.abrir-menu{
    width: 40%;
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #FBFADA;
    font-size: 20px;
    padding: 20px 4%;
    display: block;
}
.menu-mobile li:hover{
    background-color: #436850;
}
.menu-mobile .custom-icon {
    color: #FBFADA;
    width: 30px;
    height: 30px;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
    cursor: pointer;
}
/*  Main*/
.conteiner{
    width: 80vw;
    margin: 0 auto;
}
.principal {
    display: flex;
    justify-content: center;
    gap: 3.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div .imagem {
    display: grid;
    place-items: center;
}
div .imagem img{
    border-radius: 90%;
    max-width: 300px;
    border: 5px solid #ADBC9F;
}
div.lateral-imagem{
    padding: 55px;
    padding-left: 55px;
    padding-bottom: 55px;
}
div .name-ola{
    font-size: 6rem;
    color: #436850;
}

div .name-titulo {
    color: #436850;
    margin-top: 1rem;
}
div .name-paragrafo{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2.5rem;
    font-weight: 600;
}

.entre-contato{
    margin-bottom: 3rem;
}

.entre-contato a{
    margin: 0 0.7rem 0 0;
}

/* Parte de Habilidades */
.habilidades{
    height: 85vh;
}

div.conteiner-icon{
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    justify-content: space-around;
    padding: 30px;
}
.box-icon{
    width: 50px;
    height: 150px;
}
.box-icon p{
    color: #12372A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Parte de projetos */
h2.meus-projetos{
    color: #436850;
    font-size: 2.5rem;
    text-align: center;
}

div.box{
    display: flex;
    gap: 1.5rem;
    margin: 2.5rem ;
}

div.projetos-box{
    padding: 40px ;
    border: 2px solid #ADBC9F;
    border-radius: 20px;
}

div.projetos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px;
}

div.projetos-box h3{
    color: #436850;
    font-size: 1.7rem;
}

.projetos-box a{
    color: #12372A;
    font-size: 1.3rem;
    font-weight: 600;
}

/* Parte de contato */

.contato{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    color: #12372A;
}

.bnt{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem ;
    outline: none;
    border: 2px solid #12372A;
    border-radius: 30px;
    cursor: pointer;
    color: #FBFADA;
    background-color: #12372A;
    
}
.bnt:hover{
    transform: scale(1.05);
}
.form-titulo{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

form{
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

form label, input, textarea, button {
    display: block;
    width: 100%;
}
form label {
    margin-bottom: 0.5;
}
form input, textarea{
    font: inherit;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 5px;
}
form textarea{
    min-height: 8rem;
    resize: vertical;
}

/* Rodapé */
footer {
    display: flex;
    padding: 20px;
}
.footer-comp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    border-top: 2px solid #B2A59B ; 

}
.rede-social a, img{
    padding: 2px;
    margin-top: 10px;
}
.autora{
    margin-top: 20px;
}
/* Responsivo footer */
@media screen and (max-width: 965px){
    .principal{
        flex-direction: column;
    }

    .menu{
        display: none;
    }

    .logo{
        font-size: 24px;
        flex-direction: column;
    }
    div.lateral-imagem{
        padding: 0px;
        padding-left: 0px;
    }
    div.box{
        flex-direction: column;
    }
    .projetos-box{
        width: 80%;
        height: 80%;
    }
    .footer-comp{
        flex-direction: column;
    }
    .footer-comp p{
        padding: 0;
        margin-bottom: 10px;
    }

}